<config>
    <system>
        <section id="payment">
            <group id="webpay" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="subscriptions_version" translate="label" type="label" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscriptions Version</label>
                    <backend_model>Mobbex\Subscriptions\Model\Config\Version</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>